.footer {
  background: $color-header;
  padding: 5rem 1rem;
  height: 25vh;

  p {
    color: $color-dark-white;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.25rem;
    margin-bottom: 0;
  }
}

/* section */
.footer__section {
  padding-bottom: 5rem;
}

// .section-center {
//   width: 90vw;
//   margin: 0 auto;
//   max-width: 1170px;
// }
