$color-white: #fff;
$color-background: #17181a;
$color-black: #111;
$color-dark-white: rgb(266, 266, 266);
$color-span1: rgb(255, 139, 93);
$color-span2: rgb(86, 124, 228);
$color-span3: rgb(167, 110, 231);
