.benefit-box {
  background-color: rgba(226, 226, 226, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.1 4rem rgba(#111, 0.15);
  transition: transform 0.3s;
  height: 30rem;

  @include respond(desktop) {
    height: 35rem;
    font-size: 1.5rem;
    padding: 2.5rem;
  }

  &__icon {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      to right bottom,
      rgb(220, 87, 72),
      rgb(253, 171, 171)
    );
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
